/log
/otwarcie paczkomatu.xml
/otwarcie_paczkomatu.json
/poetry.lock
/.mypy_cache/
/dist/
/venv/
/.idea/
/tests/.pytest_cache
/tests/__pycache__/
/tests/api_tests.py
/tests/data.json
/tests/data.py
/tests/data_responses.py
