/log
/otwarcie paczkomatu.xml
/otwarcie_paczkomatu.json
/poetry.lock
/.mypy_cache/
/dist/
/venv/
/tests/.pytest_cache/
/tests/api_tests.py
/tests/data.json
/tests/data.py
/tests/data_responses.py
/tests/static_tests.py
/tests/data.py
