/log
/otwarcie paczkomatu.xml
/otwarcie_paczkomatu.json
/poetry.lock
/.mypy_cache/
/dist/
/venv/
/.idea/vcs.xml
/.idea/jsonSchemas.xml
/.idea/inpost-python.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
